main {
	height: 100vh;
	position: relative;
	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		filter: blur(5px);
	}
	.content {
		position: absolute;
		width: 70vw;
		height: 70vh;
		overflow-x: scroll;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba($light, 0.2);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		border-radius: 10px;
		.message {
			margin: auto;
			width: 90%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			text-align: center;
			.button {
				background-color: $primary;
				color: $accent-2;
				border-style: none;
			}
		}
	}
}
