main {
	height: 100vh;
	position: relative;
	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		filter: blur(5px);
	}
	.content {
		position: absolute;
		width: 70vw;
		height: 70vh;
		overflow-x: scroll;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba($light, 0.2);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		border-radius: 10px;
		.message {
			margin: auto;
			width: 90%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			text-align: center;
			svg {
				height: 10%;
				stroke: $text-dark;
			}
		}
		.error-form {
			margin: auto;
			width: 90%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			text-align: center;
			input[type=text], textarea {
				outline: none;
				border-radius: 15px;
				background-color: rgba($light, 0.3);
				box-shadow: 4px 4px 6px 0 rgba($primary, 0.5), -1px -1px 6px rgba($primary, 0.2);
				border-style: none;
			}
			textarea {
				height: 20vh;
			}
			input[type=submit] {
				border-radius: 15px;
				background-color: $primary;
				border-style: none;
				color: $accent-2;
				font-weight: 400;
			}
			.small * {
				font-size: 0.3rem;
				ul {
					margin: 0;
					padding: 0;
				}
			}
		}
	}
}
