@import '../colour';

@media (min-width: 768px) {
	html {
		body {
			@import '../header/style';
			main {
				margin-left: 0;
				width: 90vw;
				padding: 5vh 5vw;
				border-radius: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				#description {
					align-self: flex-start;
					width: 70%;
					p {
					}
				}
				#services {
					display: grid;
					grid-template-columns: 30% 40% 30%;
					align-items: start;
					width: 90%;
					margin: auto;
					.service {
						&:hover, &:focus {
							.description {
								height: 15vw;
							}
						}
						img {
							cursor: pointer;
							opacity: 100%;
							transform: rotate(0) scale(1, 1);
							width: 15vw;
							&:hover {
								~ h4 {
									&::before {
										background-color: $primary;
										top: 0;
										bottom: 0;
										left: -10px;
									}
								}
							}
						}
						h4 {
							cursor: pointer;
							opacity: 100%;
							transform: translateX(0);
							transition: all 1s ease;
							width: 90%;
							&::before {
								position: absolute;
								content: ' ';
								width: 5px;
								background-color: transparent;
								top: 5px;
								left: 0;
								bottom: 5px;
								transition: all 0.5s ease;
							}
							&:hover {
								&::before {
									background-color: $primary;
									top: 0;
									bottom: 0;
									left: -10px;
								}
							}
						}
					}
				}
			}
			@import '../footer/style';
		}
	}
}
