@import '../colour';

@media (min-width: 768px) {
	html {
		body {
			@import '../header/style';
			main {
				margin-left: 0;
				width: 90vw;
				padding: 5vh 5vw;
				border-radius: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			@import '../footer/style';
		}
	}
}
