@import '../colour';
@import '../fonts';

html {
	overflow-x: hidden;
	body {
		background-color: $light;
		transition: background-color 1s ease;
		overflow-x: hidden;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		&.scroll {
			background-image: url('../img/fuzz.png');
			background-attachment: fixed;
			background-color: $primary;
			main {
				opacity: 100%;
			}
			.calendly-badge-widget {
				z-index: 2;
				opacity: 100%;
			}
			footer {
				opacity: 100%;
			}
		}
		.calendly-badge-widget {
			z-index: -1;
			opacity: 0;
			transition: all 1s ease;
			left: 5vw;
		}
		&.home {
			@import '../header/landing';
		}
		main {
			overflow: hidden;
			opacity: 0;
			transition: opacity 1s ease;
			box-shadow: 0 0 5px 1px rgba($dark, 0.5);
			border-radius: 10px 10px 0 0;
			background-color: $light;
			width: 90vw;
			margin-top: 70vh;
			padding: 0 5vw;
		}
		footer {
			opacity: 0;
			transition: opacity 1s ease;
		}
		@import '../footer/style';
	}
}

@import './media';
