$dark: #000000;		//Black
$light: #ffffff;	//White
$primary: #f90659;	//Red Crayola
$secondary: #17ff7f;	//Spring Green
$accent_1: #5bc0eb;	//Cyan Process
$accent_2: #f5b841;	//Maximum Yellow Red


.primary {
	background-color: $primary;
	.breaker {
		border-color: $accent_2;
	}
	h1, h2, h3, h4, h5, h6, p {
		color: $light;
	}
	a, button.a {
		color: $accent_2;
		&:focus, &:active {
			background-color: $accent_2;
			color: $primary;
		}
	}
	button, a.button {
		background-color: $accent_2;
		color: $primary;
		&:focus, &:active {
			color: $accent_2;
			border-color: $accent_2;
		}
	}
	&.important {
		h1, h2, h3, h4, h5, h6, p {
			color: $light !important;
		}
		a, button.a {
			color: $accent_2 !important;
			&:focus, &:active {
				background-color: $accent_2 !important;
				color: $primary !important;
			}
		}
		button, a.button {
			background-color: $accent_2 !important;
			color: $primary !important;
			&:focus, &:active {
				color: $accent_2 !important;
				border-color: $accent_2 !important;
			}
		}
	}
}

.secondary {
	background-color: $secondary;
	.breaker {
		border-color: $accent_1;
	}
	h1, h2, h3, h4, h5, h6, p {
		color: $dark;
	}
	a, button.a {
		color: $light;
		text-shadow: 2px 2px $accent_1;
		&:focus, &:active {
			background-color: $accent_1;
			color: $secondary;
		}
	}
	button, a.button {
		background-color: $accent_1;
		color: $secondary;
		&:focus, &:active {
			color: $accent_1;
			border-color: $accent_1;
		}
	}
	&.important {
		h1, h2, h3, h4, h5, h6, p {
			color: $dark !important;
		}
		a, button.a {
			color: $accent_1 !important;
			&:focus, &:active {
				background-color: $accent_1 !important;
				color: $secondary !important;
			}
		}
		button, a.button {
			background-color: $accent_1 !important;
			color: $secondary !important;
			&:focus, &:active {
				color: $accent_1 !important;
				border-color: $accent_1 !important;
			}
		}
	}
}

.light{
	background-color: $light;
	.breaker {
		border-color: $primary;
	}
	h1, h2, h3, h4, h5, h6 {
		color: $primary;
	}
	p {
		color: $dark;
	}
	a, button.a {
		color: $primary;
		&:focus, &:active {
			background-color: $primary;
			color: $light;
		}
	}
	button, a.button {
		background-color: $primary;
		color: $light;
		&:focus, &:active {
			color: $primary;
			border-color: $primary;
		}
	}
	&.important {
		h1, h2, h3, h4, h5, h6, p {
			color: $dark !important;
		}
		a, button.a {
			color: $primary !important;
			&:focus, &:active {
				background-color: $primary !important;
				color: $light !important;
			}
		}
		button, a.button {
			background-color: $primary !important;
			color: $light !important;
			&:focus, &:active {
				color: $primary !important;
				border-color: $primary !important;
			}
		}
	}
}

a, button.a {
	background-color: transparent;
	text-decoration: underline;
	border-radius: 5px;
	transition: background-color 0.5s ease;
	transition: color 0.5s ease;
	transition: text-decoration 0.5s ease;
	&:focus, &:active {
		text-decoration: none;
	}
}

button, a.button {
	text-decoration: none !important;
	border-style: solid;
	border-width: 1px;
	border-radius: 20px;
	transition: background-color 0.5s ease;
	transition: color 0.5s ease;
	&:focus, &:active {
		background-color: transparent;
	}
}

.breaker {
	margin: 10% 10% 5% 10%;
	width: 80%;
	height: 0;
	border-top-style: solid;
	border-width: 1px;
}

@media (min-width: 768px) {
	.breaker {
		margin: 5% 10% 2% 10%;
		&.desk-vertical {
			border-top-style: none;
			border-left-style: solid;
			height: 80%;
			margin: auto;
			width: 0;
		}
	}
}
