@import '../fonts';
@import '../colour';

html {
	body {
		margin: 0;
		padding: 0 5vw;
		width: 90vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		h1 {
			color: $light;
		}
		p {
			color: $light;
		}
	}
}

@media (min-width: 768px) {
	html {
		body {
			display: grid;
			grid-template-columns: auto auto;
			align-items: center;
			justify-items: center;
			h1 {
				grid-column: span 2;
			}
			p {
				grid-column: span 2;
			}
		}
	}
}
