@import '../dark-colour';
@import '../fonts';

* {
	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, stroke 0.5s ease-in-out, fill 0.5s ease-in-out;
}

html {
	overflow-x: hidden;
	background-color: $light;
	color: $text-light;
	body {
		overflow-x: hidden;
		margin: 0;
		padding: 0;
		&.home {
			@import '../header/home';
			@import '../main/home';
			@import '../footer/style';
		}
		&.archive {
			padding-top: 30vh;
			@import '../header/archive';
			@import '../main/archive';
			@import '../footer/style';
		}
		&.page {
			padding-top: 30vh;
			@import '../header/page';
			@import '../main/page';
			@import '../footer/style';
		}
		&.post {
			@import '../header/post';
			@import '../main/post';
			@import '../footer/style';
		}
		&.bottom {
			.calendly-badge-widget {
				opacity: 0;
				z-index: -1;
			}
		}
		.calendly-badge-widget {
			transition: all 0.25s ease-in-out;
		}
	}
	@import '../contact';
	@import '../dark-mode-toggle';
	@import '../scroll-to-content';
}

a, button.a {
	background-color: transparent;
	text-decoration: underline;
	border-radius: 5px;
	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, text-decoration 0.5s ease-in-out;
	&:focus, &:active {
		text-decoration: none;
	}
}

button, a.button {
	text-decoration: none !important;
	border-style: solid;
	border-width: 1px;
	border-radius: 20px;
	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
	&:focus, &:active {
		background-color: transparent;
	}
}
