@import '../keyframes';


header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: $light;
	&.open {
	}
	.content {
		width: 45vw;
		height: 45vw;
	}
}

@media (min-width: 768px) {
	header {
	}
}
