@import '../colour';
@import '../keyframes';


header {
	position: fixed;
	top: 0;
	left: 50vw;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 10vh;
	transition: transform 0.5s ease, left 0.5s ease, width 0.25s ease 0.75s, top 0.25s ease 0.75s, border-radius 0.25s ease 0.5s;
	background-color: rgba($primary, 0.5);
	&.restore {
		.content {
			.header-logo {
				animation-name: header-spin-restore;
				animation-duration: 0.5s;
			}
			.header-menu-btn {
				animation-name: header-spin-restore;
				animation-duration: 0.5s;
			}
		}
	}
	&.scroll {
		transition: transform 0.5s ease 0.5s, left 0.5s ease 0.5s, width 0.25s ease, top 0.25s ease, border-radius 0.25s ease 0.25s;
		border-radius: 50%;
		width: 10vh;
		top: 10px;
		left: 10px;
		transform: translateX(0);
		.content {
			.header-logo {
				animation-name: header-spin-scroll;
				animation-duration: 0.5s;
				animation-delay: 0.5s;
				opacity: 0;
				z-index: 0;
				height: 5vh;
				transition: transform 0.5s ease, opacity 0.5s ease 0.75s, height 0.5s ease;
			}
			.header-menu-btn {
				animation-name: header-spin-scroll;
				animation-duration: 0.5s;
				animation-delay: 0.5s;
				opacity: 1;
				z-index: 1;
				transition: transform 0.5s ease, opacity 0.5s ease 0.75s;
				cursor: pointer;
			}
		}
	}
	&.open {
		transition: transform 0.5s ease, left 0.1s ease, width 0.5s ease, top 0.1s ease, border-radius 0.5s ease;
		width: 100vw;
		top: 0;
		left: 0;
		border-radius: 0;
		.content {
			.header-menu-btn {
				transition: transform 0.25s ease 0.5s;
				transform: rotate(90deg);
				transform-origin: top;
			}
			.header-menu {
				transition: height 0.5s ease 0.5s;
				height: 50vh;
				ul {
					transition: opacity 0.25s ease 0.75s;
					opacity: 1;
				}
			}
		}
	}
	.content {
		position: relative;
		width: 100%;
		height: 100%;
		.header-logo {
			transform-origin: top left;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			opacity: 1;
			width: auto;
			height: 8vh;
			transition: transform 0.5s ease, opacity 0.5s ease, height 0.5s ease 0.75s;
		}
		.header-menu-btn {
			transform-origin: top left;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 0;
			opacity: 0;
			width: auto;
			height: 8vh;
			transition: transform 0.5s ease, opacity 0.5s ease;
			svg {
				width: auto;
				height: 8vh;
				color: black;
			}
		}
		.header-menu {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 50vw;
			height: 0;
			overflow: hidden;
			z-index: -1;
			background-color: $secondary;
			border-radius: 0 0 5px 5px;
			transition: height 0.25s ease;
			ul {
				transition: opacity 0.25s ease;
				opacity: 0;
				padding: 0;
				margin: 10vh 0 0 0;
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 40vh;
				gap: 50px;
				overflow: auto;
				li {
					list-style-type: none;
					a {
						color: $light;
						text-shadow: 1px 1px $accent-1;
						text-decoration: none;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	header {
	}
}
