@media (min-width: 768px) {
	main {
		#about {
			display: grid;
			grid-template-columns: 49% 2% 49%;
			.breaker.desk-vertical {
				grid-column: span 1;
			}
			dt {
				padding-top: 2vh;
			}
		}
	}
}
