$dark: #341218;
$light: #3c121c;
$primary: #b8164b;
$primary_light: #341218;
$secondary: #14aa54;
$secondary_light: #341218;
$accent_1: #438dad;
$accent_1_light: #341218;
$accent_2: #b58730;
$accent_2_light: #341218;
$text_dark: #ffffff;
$text_light: #ffffff;

$constant_dark: #341218;
