$dark: #341218;
$light: #3c121c;
$primary: #b8164b;
$secondary: #14aa54;
$accent_1: #438dad;
$accent_2: #b58730;
$dark-text: #ffffff;
$light-text: #000000;

$dark-mode-dark: #341218;
$dark-mode-layer: #51111f;
