@keyframes spin-fade-in-header-menu {
	0% {
		opacity: 0;
		transform: rotate(0deg) translate(-50%, -50%);
	}
	25% {
		transition: rotate(180deg) translate(-50%, -50%);
	}
	50% {
		transition: rotate(360deg) translate(-50%, -50%);
	}
	75% {
		transition: rotate(540deg) translate(-50%, -50%);
	}
	100% {
		opacity: 1;
		transform: rotate(720deg) translate(-50%, -50%);
	}
}

@keyframes spin-fade-out-header-menu {
	0% {
		opacity: 1;
		transform: rotate(0deg) translate(-50%, -50%);
	}
	25% {
		transition: rotate(180deg) translate(-50%, -50%);
	}
	50% {
		transition: rotate(360deg) translate(-50%, -50%);
	}
	75% {
		transition: rotate(540deg) translate(-50%, -50%);
	}
	100% {
		opacity: 0;
		transform: rotate(720deg) translate(-50%, -50%);
	}
}
