@keyframes spin-fade-in-header-menu {
	0% {
		opacity: 0;
		transform: rotate(0deg) translate(-50%, -50%);
	}
	50% {
		transform: rotate(180deg) translate(-50%, -50%);
	}
	100% {
		transform: rotate(720deg) translate(-50%, -50%);
		opacity: 1;
	}
}

@keyframes spin-fade-out-header-menu {
	0% {
		opacity: 1;
		transform: rotate(0deg) translate(-50%, -50%);
	}
	50% {
		transform: rotate(180deg) translate(-50%, -50%);
	}
	100% {
		transform: rotate(720deg) translate(-50%, -50%);
		opacity: 0;
	}
}
