$dark: #341218;		//Black
$light: #ffffff;	//White
$primary: #f90659;	//Red Crayola
$primary-light: #f90659;
$secondary: #17ff7f;	//Spring Green
$secondary-light: #17ff7f;
$accent-1: #5bc0eb;	//Cyan Process
$accent-1-light: #5bc0eb;
$accent-2: #f5b841;	//Maximum Yellow Red
$accent-2-light: #f5b841;
$text-dark: #341218;
$text-light: #ffffff;

$constant-dark: #341218;
