@import '../colour';


header {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	#content {
		position: relative;
		width: 96vw;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		transition: all 1s ease;
		padding: 2vh 2vw;
		height: auto;
		&.scroll {
			align-items: center;
			#logo {
				top: 2vh;
			}
			#ham {
				top: 3vh;
			}
			#background {
				background-color: $light;
				box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
				transform: rotate(0);
				padding: 2vh 2vw;
				width: 96vw;
				h1 {
					opacity: 0;
					font-size: 1px;
				}
				h2 {
					opacity: 0;
					font-size: 1px;
				}
			}
			#contact {
				opacity: 100%;
				z-index: 3;
			}
		}
		#logo {
			z-index: 3;
			position: absolute;
			top: 10vh;
			left: 2vw;
			height: 10vh;
			padding: 1vh 1vw;
			transition: all 1s ease;
		}
		#background {
			z-index: 2;
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transform: rotate(-40deg);
			transform-origin: 100% 0;
			transition: all 1s ease;
			width: 110vw;
			min-height: 12vh;
			padding: 5vh 45vw 5vh 60vw;
			h1 {
				margin: 0;
				transition: all 1s ease;
				color: $secondary;
				text-align: right;
			}
			h2 {
				margin: 0;
				transition: all 1s ease;
			}
		}
		#contact {
			transition: all 1s ease;
			opacity: 0;
			z-index: -1;
			position: fixed;
			bottom: 10vh;
			left: 5vw;
			display: flex;
			&.open {
				#handle {
					svg {
						transform: rotate(360deg);
						#closed {
							opacity: 0;
						}
						#open {
							opacity: 100%;
							line#top, line#btm {
								transform: rotate(0);
							}
						}
					}
				}
				a {
					z-index: 2;
					opacity: 100%;
					&#phone {
						left: 24vw;
					}
					&#email {
						left: 44vw;
					}
					&#download {
						left: 64vw;
					}
				}
			}
			#handle {
				cursor: pointer;
				z-index: 2;
				background-color: $accent_1;
				border-radius: 50%;
				width: 10vw;
				height: 10vw;
				padding: 2vw;
				box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
				&:hover > svg #open line {
					stroke: $primary;
				}
				svg {
					width: 10vw;
					transition: all 1s ease;
					#closed {
						transition: all 1s ease;
						opacity: 100%;
						circle {
							fill: $light;
						}
					}
					#open {
						transition: all 1s ease;
						opacity: 0;
						line {
							transition: all 0.5s ease, transform 0.5s ease 1s;
							transform-origin: 50px 50px;
							stroke: $accent_2;
							stroke-width: 7px;
							stroke-linecap: round;
							&#top {
								transform: rotate(-45deg);
							}
							&#btm {
								transform: rotate(45deg);
							}
						}
					}
				}
			}
			a {
				transition: all 1s ease;
				z-index: -1;
				position: fixed;
				bottom: 10vh;
				left: 5vw;
				opacity: 0;
				width: 10vw;
				height: 10vw;
				padding: 2vw;
				border-radius: 50%;
				background-color: $accent_1;
				box-shadow: 0 4px 6px 0 rgba($dark, 0.7);
				&:hover > svg #stroke {
					fill: $primary;
				}
				svg {
					width: 10vw;
					#fill {
						fill: transparent;
					}
					#stroke {
						transition: all 0.5s ease;
						fill: $accent_2;
					}
				}
			}
		}
	}
	#ham {
		z-index: 4;
		position: absolute;
		top: 10vh;
		right: 2vw;
		height: 10vh;
		cursor: pointer;
		transition: all 1s ease;
		-webkit-filter: drop-shadow( 2px 2px 0 $accent_2);
		filter: drop-shadow( 2px 2px 0 $accent_2);
		line {
			stroke: $light;
			stroke-width: 10px;
			stroke-linecap: round;
			fill: none;
			transition: all 0.5s ease;
		}
		&.open {
			top: 2vh;
			-webkit-filter: drop-shadow( 2px 2px 0 $accent_1);
			filter: drop-shadow( 2px 2px 0 $accent_1);
			#top {
				transform-origin: 10px 20px;
				transform: rotate(45deg) scale(1.1, 1);
			}
			#mdl {
				opacity: 0;
			}
			#btm {
				transform-origin: 10px 80px;
				transform: rotate(-45deg) scale(1.1, 1);
			}
		}
	}
	nav {
		background-image: url('../img/fuzz.png');
		background-attachment: fixed;
		z-index: 3;
		position: absolute;
		top: 0;
		right: 0;
		overflow: hidden;
		height: 0;
		width: 0;
		border-radius: 0 0 0 100%;
		transition: width 1s ease, height 0.9s ease, border-radius 1s ease;
		&.open {
			border-radius: 0;
			height: 100vh;
			width: 100vw;
		}
		#main {
			list-style-type: none;
			width: 100%;
			height: 70vh;
			padding-top: 10vh;
			padding-left: 0;
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			li {
				a {
					font-size: 0.7rem;
					text-decoration: none;
					&.active {
						text-decoration-line: line-through;
						text-decoration-thickness: 3px;
						text-decoration-style: solid;
					}
				}
			}
		}
		#socials {
			list-style-type: none;
			width: 100%;
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			li {
				a {
					text-decoration: none;
					img {
						width: 15vw;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	header {
		#content {
			&.scroll {
				#logo {
					height: 15vh;
				}
				#ham {
					top: 7vh;
				}
			}
			#logo {
				top: 15vh;
				left: 5vw;
				height: 30vh;
			}
			#background {
				transform: rotate(-30deg);
				transform-origin: 85% 0;
				padding: 5vh 10vw 5vh 20vw;
				min-height: 17vh;
				h2 {
					width: 40vw;
					padding-left: 20vw;
				}
			}
			#contact {
				bottom: 12vh;
				&.open {
					a#phone {
						left: 14vw;
					}
					a#email {
						left: 24vw;
					}
					a#download {
						left: 34vw;
					}
				}
				#handle {
					width: 3vw;
					height: 3vw;
					padding: 1vw;
					display: flex;
					justify-content: center;
					align-items: center;
					svg {
						width: 3vw;
					}
				}
				a {
					bottom: 12vh;
					width: 3vw;
					height: 3vw;
					padding: 2vh;
					svg {
						width: 3vw;
					}
				}
			}
			#ham {
				right: 10vw;
				&.open {
					top: 3vh;
					right: 12vw;
				}
			}
			nav {
				height: 100vh;
				border-radius: 0;
				&.open {
					width: 30vw;
					height: 100vh;
					box-shadow: 0 -4px 6px 0 rgba(0, 0, 0, 0.4);
				}
				#main {
					padding-top: 12vh;
					li {
						a {
							font-size: 2vw;
						}
					}
				}
				#socials {
					li {
						a {
							img {
								width: 5vw;
							}
						}
					}
				}
			}
		}
	}
}
