$dark: #341218;		//Black
$light: #ffffff;	//White
$primary: #f90659;	//Red Crayola
$primary_light: #f90659;
$secondary: #17ff7f;	//Spring Green
$secondary_light: #17ff7f;
$accent_1: #5bc0eb;	//Cyan Process
$accent_1_light: #5bc0eb;
$accent_2: #f5b841;	//Maximum Yellow Red
$accent_2_light: #f5b841;
$text_dark: #341218;
$text_light: #ffffff;

$constant_dark: #341218;
