$dark: #341218;
$light: #3c121c;
$primary: #b8164b;
$primary-light: #341218;
$secondary: #14aa54;
$secondary-light: #341218;
$accent-1: #438dad;
$accent-1-light: #341218;
$accent-2: #b58730;
$accent-2-light: #341218;
$text-dark: #ffffff;
$text-light: #341218;

$constant-dark: #341218;
