@keyframes header-spin-scroll {
	0% {
		transform: rotate(0deg) translate(-50%, -50%);
		transition: transform 0.5s ease-in;
	}
	50% {
		transform: rotate(180deg) translate(-50%, -50%);
		transition: transform 0.5s linear;
	}
	100% {
		transform: rotate(720deg) translate(-50%, -50%);
		transition: transform 0.5s ease-out;
	}
}

@keyframes header-spin-restore {
	0% {
		transform: rotate(0deg) translate(-50%, -50%);
		transition: transform 0.5s ease-in;
	}
	50% {
		transform: rotate(-180deg) translate(-50%, -50%);
		transition: transform 0.5s linear;
	}
	100% {
		transform: rotate(-360deg) translate(-50%, -50%);
		transition: transform 0.5s ease-out;
	}
}
